/* Font-face */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif;*/

:root{
    --primary-color: #179a8b;
    --primary-color2: #7fe4d7;
    --title-color: #09cfde;
    --text-color: #ebedec;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #00dfc0 0%,#00bea2 100%);
    --gradient-color2: linear-gradient(90deg, #7fe4d7 0%,#b2e8e1 100%);
    --shadow-color: 0px 10px 30px rgba(63,16,122,0.3);
    --box-shadow: 0px 10px 13px rgba(57, 56, 61, 0.205);
    --box-shadow-menu: 0 2px 3px 0 rgba (0,0,0,.1)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body{
    overflow-y: hidden;

}

/* MENU */
#header_area{
    margin-top: 2vh;
}

#header_area .nav-item .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 2rem;
    color: #e1e1e1;
    transition: color .6s ease;
}

#header_area .nav-item .nav-link:hover{
    color: #81e9dc;
    transition: color .6s ease;
}

/* MENU */

/* MAIN */
.site-main .site-banner .site-title h2{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-main .site-banner .site-title h4{
    color: #e1e1e1;
}

.button{
    padding: .8rem 2.2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

.button.primary-button{
    transition: background .6s ease;
    background-clip: padding-box;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 0.5s;
    border: 3px solid #00dfc0;
    border-radius: 5px;
}

.button.primary-button:hover{
    color: #00bea2;
    transition: background .6s ease;
    border: 3px solid #00bea2;
    border-radius: 5px;
    transform: scale(0.95);
    
}

/* MAIN */

#data-brazil h2{
    color: #e1e1e1;
    margin-bottom: 5vh;
}


#data-world h2{
    color: #e1e1e1;
    margin-bottom: 5vh;
}

#data-state h2{
    color: #e1e1e1;
    margin-bottom: 5vh;
}

.card:hover{
    transform: scale(0.95);
    box-shadow: 0px 10px 13px rgba(57, 56, 61, 0.205);
}

iframe{
    align-items: center;
    margin: 3%;
    border: none;
    width: 94%;
    height: 600px;
}

.table{
    border: 1px solid #DCDCDC;
    border-radius: 2px; 
    width: 97vw; 
    margin: 1vw;

}

.card-uf{
    background-color:#00dfc0;
    max-width: 18rem;
}

.logo-contact{
    margin-bottom: -4vh;
}


.social-media{
    font-size: 35px;
    padding: 2rem;
    color: var(--border-color);
    transition: color .6s ease;
}

.social-media:hover{
    color: #81e9dc;
    transition: color .6s ease;
}

@media (min-width: 992px){

    .site-main .site-banner .site-title h2{
        padding-top: 30%;
        font-size: 50px;
    }

    .site-main .site-banner .site-title h4{
        font-size: 30px;
    }
    #banner-waves{
        margin-top: -15%;
    }

    #data-brazil{
        margin-top: -5%;
    }

    #data-brazil h2{
        font-size: 50px;
    }

    #data-world h2{
        font-size: 50px;
    }

    #data-state h2{
        font-size: 50px;
    }

    iframe{
        margin-left: 4.5%;
        margin-right: 4.5%;
        border: none;
        width: 40%;
        height: 600px;
    }    

    .vaccination{
        margin-left: 4.5%;
        margin-right: 4.5%;
        border: none;
        width: 89%;
        height: 600px;
    }

    #footer-area{
        margin-top: -10%;
    }

    .social-media{
        font-size: 50px;
    }

}
